/* Общие стили */

.page {
  /* установлена минимальная ширина страницы */
  min-width: 1100px;
  /* установлено ограничение по максимальной ширине */
  max-width: 1600px;
  /* для экранов больше 1600px отцентрировали весь контент */
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  color: #000;

}
/* Стили блока header */

.header {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: #f2f2f2;
  /* ограничения для секции */
  min-height: 600px;
  max-height: 756px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
  z-index: 1;
}

.header__title {
  align-self: center;
  margin: 0 0 0 64px;
  padding: 0;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  padding: 0;
  width: 398px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
}

/* Стили блока description */

.description {
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  color: #2f80ed;
  min-width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

/* Стили блока digits */

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  margin: 0 auto;
  padding: 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  width: 60%;
  text-align: center;
}

.section-subtitle {
  margin: 20px auto 0 auto;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  width: 60%;
  text-align: center;
}

.table {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 1100px;
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.table__cite {
  display: block;
  font-style: normal;
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

/* Стили блока feynman */

.feynman {
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
}

.feynman__title {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  margin: 0 auto;
  width: 648px;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
}

.feynman__subtitle {
  position: relative;
  z-index: 1;
  margin: 70px auto 0 auto;
  padding: 0;
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  z-index: 1;
  right: 48px;
  top: 50%;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__main-illustration {
  position: absolute;
  z-index: 0;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
}

/* Стили блока kaufman */

.kaufman {
  position: relative;
  background-color: #000;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #f2f2f2;
}

.section-subtitle_theme_dark {
  color: #f2f2f2
}

.table_theme_dark {
  color: #f2f2f2;
}

.table__cell_theme_dark {
  color: #f2f2f2;
  width: 200px;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
}

/* Стили блока footer */

.footer {
  background-color: #000;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  min-height: 250px;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  padding: 0;
  margin: 18px 0;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
}

.footer__column-heading {
  padding: 0;
  margin: 0;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__column-link {
  padding: 0;
  margin: 0;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
